doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://openlayers.org/dev/OpenLayers.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

    script(src='/scripts/libs/jquery.columnizer.min.js')
    script(src='/scripts/libs/underscore-min.js')
    script(src='/scripts/libs/backbone-min.js')
    script(src='/scripts/app.js')
    script(src='/scripts/util.js')
    script(src='/scripts/models/model.js')
    script(src='/scripts/collections/collections.js')
    script(src='/scripts/views/bird.js')
    script(src='/scripts/views/birdDetails.js')
    script(src='/scripts/views/birds.js')
    script(src='/scripts/views/login.js')
    script(src='/scripts/views/app.js')
    script(src='/scripts/router.js')
    script(src='/scripts/views/loader.js')
    script(src='/scripts/mapper.js')
    script(src='/scripts/main.js')

  body
    #login
    block content