doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(data-main="scripts/main", src="/scripts/libs/require.js")

  body
    #login
    block content