h1 Login
p=message
form(action='/login', method='POST')
  p
    label(for='username') Username :
    input(type='text', name='username')
  p
    label(for='password') password :
    input(type='password', name='password')
  p
    input(type='submit', value='Submit')