<style>
    #detailsHolder {
        width: 875px;
       /* height: 500px;*/
        /*        background-color: #eeeeee;*/
    }

    #mapContainer {
                margin: 30px auto auto 4px;
    }
    
    #rangesMap {
        width: 500px;
        height: 206px;
    }

    #bdDescription {
        font-size : 11px;
        color : #000000;
        line-height: 160%;
        clear : both;
        /*	-moz-column-count: 3;
                -moz-column-gap: 20px;
                -webkit-column-count: 3;
                -webkit-column-gap: 20px;
                column-count: 3;
                column-gap: 20px;
                column-width: 100px;*/
    }
    
	.column *{ padding: 5px;}


		/*.wide, .thin { clear:both; }*/
		/*img{ float: left; padding:5px;}*/
		blockquote { font-style: italic; margin-left: 10px; border-left:2px solid #EFEFEF; padding-left: 8px;}
</style>


<div id="detailsHolder">
    <div id="bdDescription">
        <img src="/birds/<%= _id %>/image" />
    <h4><%= name %></h4>
        <p>
            <%= description %>
        </p>
    </div>
    <div id="mapContainer">
        <div id="rangesMap">
        </div>
    </div>
    
</div>

